.container {
    width: 60%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(46, 116, 25);
}

@media screen and (max-width: 930px) {
    .container {
        width: 100%;
    }
}